body {
    background-image: url('assets/fondo.jpg');
    background-size: cover; 
    height: 100vh; 
    margin: 0; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: white; 
    font-family: Arial, sans-serif; 
    position: relative;
}

.menu {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 5px; 
    z-index: 1; 
}

.menu ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
}

.menu li {
    margin: 0 10px; 
}

.menu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    display: block; 
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.title {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto; 
}
.portfolio-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #000;
    color: #fff; 
    text-align: center;
}
.title-container {
    .title-container {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 20px 10px; 
    }
}

.red-overlay, .blue-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; 
    transition: opacity 1s; 
    z-index: 0; 
}

.red-overlay {
    background-color: rgba(255, 0, 0, 0.3); 
}

.blue-overlay {
    background-color: rgba(0, 0, 255, 0.3); 
}

.photo-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    margin: 20px auto; 
    max-width: 600px; 
    position: absolute; 
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0; 
    transition: opacity 7s ease; 
}


.show-container {
    opacity: 1; 
}

.description {
    color: white; 
    margin-bottom: 10px; 
}

.description-image {
    display: block; 
    margin: 20px auto; 
    max-width: 60%; 
    height: auto;
}


.show {
    opacity: 1; 
}


.obras-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    margin-top: 50px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 1fr);
  }

.obra-item {
    text-align: center; 
}

.obra-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    transition: transform 0.3s; 
}

.obra-image:hover {
    transform: scale(1.05); 
}

.obra-title {
    margin-top: 10px; 
    background-color: black; 
    color: white; 
    padding: 5px; 
    border-radius: 5px; 
    text-align: center; 
}


.video-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}

.description {
    margin-top: 20px; 
}

.technical-sheet {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 15px; 
    border-radius: 10px; 
    margin-top: 20px; 
}

.sobre-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.sobre-container {
    position: relative;
    margin: 100px auto;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}